<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      
        <class name="Smallcase.Assign2.FlipkartTest"/> 
       <class name="Smallcase.Assign2.AmazonTest"/> 
      <class name="Smallcase.Assign2.PriceCompare"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
